@font-face {
    font-family: roboto-bold;
    src: url(Roboto-Bold.ttf);
}

@font-face {
    font-family: roboto-thin;
    src: url(Roboto-Thin.ttf);
}

@font-face {
    font-family: roboto-regular;
    src: url(Roboto-Regular.ttf);
}

@font-face {
    font-family: letraCurva;
    src: url(MsMadi-Regular.ttf);
}